/* common */
img{
    max-width: 100%;
}

.small-wrapper{
    width: 70%;
    max-width: 900px;
    margin: auto;
}

.section-green{
    background-color: #1ABC9C;
    color: white;
}

.section-padding{
    padding: 50px 0;
}

.section-title h2{
 text-transform: uppercase;
 font-size: 45px;
}

.section-title h1{
    text-transform: uppercase;
    font-size: 55px;
   }


.inner-padding{
    padding-top: 30px;
}

body{
    color: #2C3E50;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

.star{
    font-size: 25px;
    margin: 20px 0;
}

.star::after,
.star::before {
    content: "";
    border-bottom: 3px solid;
    display: inline-block;
    width: 160px;
    margin: 0 20px;
    vertical-align: middle;
}

/* placeholder immagini TEST */
.placeholder-img{
    height: 300px;
    width: 300px;
    background-color: tomato;
    margin: auto;
}

/* top-nav  */
.top-nav{
    background-color: #2C3E50;
    color: white;
}

.top-nav h2{
    font-size: 25px;
}

.nav-links{
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.nav-links li{
    display: inline-block;
    padding: 20px 0 20px 15px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-links a:hover{
    text-decoration: underline;
}

.burger{
    padding: 10px 0;
    font-size: 27px;
    text-align: right;
}
/* fine top-nav  */

/* jumbotron  */

.teaser P{
    font-size: 24px;
}

.teaser img{
    width: 300px;
}

/* MAIN  */

/* sezione about  */
.about p{
    font-size: 18px;
}
.btn-download{
    color: white;
    border: 1px solid white;
    margin: 30px auto;
}

.btn-download:hover{
    background-color: white;
    color: #1ABC9C;
}
/* fine about  */

/* sezione contatti  */

#contact-form input,
#contact-form textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-radius: none;
    font-size: 25px;
    padding: 30px 0;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #536270;
}

.btn-send{
    background-color: #1ABC9C;
    color: white;
}

.btn-send:hover{
    background-color: white;
    color: #1ABC9C;
}

/* fine contatti  */

/* FOOTER  */
.footer-top{
    background-color: #3A546D;
    color: white;
    font-size: 20px;
}


.copyrights{
    background-color: #2C3E50;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-top h3{
    margin-top: 0;
    font-size: 25px;
}

.footer-top span{
    font-size: 16px;
    font-weight: 400;
}

.highlight{
    color: #1ABC9C;
}

.circle{
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
}

.social-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links li{
    display: inline-block;
    padding: 0 3px;
}

footer .social-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
}

.social-links li a:hover{
    color: #1ABC9C;
}

@media all and (max-width: 768px){
    .footer-padding{
        padding-top: 40px;
    }
}